<ion-view view-title="Caption">
  <ion-content class="padding">
    <label class="item item-input">
      <textarea rows="6"
          placeholder="Write here"
          ng-model="caption.text"></textarea>
    </label>
    <button class="button button-block button-positive"
        ng-click="caption.addCaption()">
      Next
    </button>

    <div class="info-bubble info-bubble-margin-top">
      <img src="img/save-a-selfie-character.png"
          width="75" />
      <p>Before uploading, please add some information here for the selfie caption. For example, the name of the location, directions for the device within the location, etc.</p>
    </div>
  </ion-content>
</ion-view>