<ion-view view-title="Device">
  <ion-content class="padding">
    <div class="row">
      <div class="col col-center text-center"
          ng-click="deviceType.selectDevice('defibrillator')">
        <img src="img/defibrillator-icon.png" />
        <p>Defibrillator</p>
      </div>
      <div class="col col-center text-center"
          ng-click="deviceType.selectDevice('life-ring')">
        <img src="img/life-ring-icon.png" />
        <p>Life Ring</p>
      </div>
    </div>

    <div class="row">
      <div class="col col-center text-center"
          ng-click="deviceType.selectDevice('first-aid-kit')">
        <img src="img/first-aid-kit-icon.png" />
        <p>First Aid Kit</p>
      </div>
      <div class="col col-center text-center"
          ng-click="deviceType.selectDevice('hydrant')">
        <img src="img/hydrant-icon.png" />
        <p>Hydrant</p>
      </div>
    </div>

    <div class="info-bubble info-bubble-margin-top">
      <img src="img/save-a-selfie-character.png"
          width="75" />
      <p>Please select one of the objects above, corresponding to what is in the photo</p>
    </div>
  </ion-content>
</ion-view>