<ion-view view-title="Info">
  <ion-content class="padding">
    <div id="info-logos">
      <div class="row">
        <div class="col col-center">
          <img src="img/order-of-malta-logo.png" ng-click="info.open('order-of-malta')" />
        </div>
        <div class="col col-center">
          <img src="img/save-a-selfie-logo.png" ng-click="info.open('save-a-selfie')" />
        </div>
      </div>

      <div class="row">
        <div class="col col-center">
          <img src="img/dublin-fire-brigade-logo.png" ng-click="info.open('dublin-fire-brigade')" />
        </div>
        <div class="col col-center">
          <img src="img/code-for-ireland-logo.png" ng-click="info.open('code-for-ireland')" />
        </div>
      </div>
    </div>

    <div class="info-bubble info-bubble-margin-top ">
      <img src="img/save-a-selfie-character.png" width="75" />
      <p>Tap on the logos above to learn more about everyone involved.</p>
    </div>
  </ion-content>
</ion-view>
