/* Empty. Add your own CSS if you like */

.map-container .scroll {
  height: 100%;
}
.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.dock-bottom {
  position: fixed;
  bottom: 15px;
  left: 0px;
}
#info-logos img {
  width: 100%;
}
.info-bubble {
  border-radius: 15px;
  background-color: #886aea;
  padding: 15px;
  margin-top: 35px;
  color: #FFF;
  font-size: large;
}
.info-bubble img {
  display: block;
  float: right;
  margin-top: -75px;
}
#selfie {
  background-color: #DDD;
}
.marker-window-text {
  width: 150px;
}