/* Empty. Add your own CSS if you like */

.map-container .scroll {
  height: 100%;
}
.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.marker-window-caption {
  width: 150px;
}
#info-logos img {
  width: 100%;
}
.info-bubble {
  border-radius: 15px;
  background-color: #886aea;
  padding: 15px;
  color: #FFF;
  font-size: large;
}
.info-bubble-margin-top {
  margin-top: 75px;
}
.dock-bottom {
  position: fixed;
  bottom: 15px;
  left: 0px;
}
.info-bubble img {
  display: block;
  float: right;
  margin-top: -75px;
}
.text-center {
  text-align: center;
}
.selfie-preview {
  box-sizing: border-box;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 190px;
}
.selfie-preview img {
  display:block;
  margin: auto;
  margin-bottom: 2px;
}
.icon-preview {
  margin-top: 5px;
}
#selfie {
  background-color: #DDD;
}